/* Header Section */

header {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 75px;
  background-color: white;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logo img {
  margin: 5px 20px;
}

.logo span {
  color: mediumaquamarine;
}

nav span {
  display: inline-block;
  margin-right: 40px;
}

a {
  color: black;
}


/* Main Container Section */

.content {
  display: flex;
  padding-top: 75px;
}

/* Large Column */

.l-col {
  width: 630px;
  border: 1px solid black;
}

.main {
  border: 1px solid black;
}

.main span {
  border: 1px solid black;
}

.secondary {
  border: 1px solid black;
}

.stories {
  border: 1px solid black;
}

.story-text {
  border: 1px solid black;
}

.story-image {
  border: 1px solid black;
}

/* Medium Column */

.m-col {
  width: 300px;
  border: 1px solid black;
}

/* Small Column */

.s-col {
  width: 240px;
  border: 1px solid black;
}
