* {
  margin: 0;
}

/* Header Section */

header {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: white;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logo img {
  margin: 0 12px 0 30px;
}

.logo span {
  color: mediumaquamarine;
}

nav {
  margin-right: 30px;
}

nav span {
  display: inline-block;
  margin-right: 20px;
}

a {
  color: black;
}


/* Main Container Section */

.content {
  display: flex;
  padding-top: 100px;
}

h2 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 15px;
}

p {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 17px;
  color: black;
  padding: 15px 0 15px 0;
}

.story-image {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%;
}

.story-image span {
}

/* Large Column */

.l-col {
  width: 630px;
  padding: 15px;
}

.main {
  padding: 10px;
}

.main-story-image {
  background-image: url("../images/img-story-main.png");
  width: 630px;
  height: 300px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 40px;
  color: white;
  display: flex;
  align-items: center;
}

.main-story-image span {
  padding-left: 20px;
}

.secondary {
  display: flex;
}

.stories {
  margin: 10px;
}

.story-text {
  margin: 10px 0 10px 0;
}


.earth {
  background-image: url("../images/img-story-2.png");
}

.research {
  background-image: url("../images/img-story-3.png");
}

/* Medium Column */

.m-col {
  width: 300px;
  padding: 15px;
}

.cats {
  background-image: url("../images/img-story-1.png");
}

/* Small Column */

.s-col {
  width: 240px;
}

.cookie {
  height: 240px;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 40px;
}

.bites span {
  display: flex;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  border-bottom: 1px solid black;
  padding: 15px;
}

/* Footer Section */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: mediumaquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  flex-direction: column;
  height: 300px;
  width: auto;
}

.info {
  display: flex;
  margin-bottom: 20px;

}

.title {
  display: inline-block;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding-right: 25px;
  border-right: 2px solid white;
}

footer nav {
  padding-left: 40px;
  margin-right: 0;
}
.copyright {
}
