/* Header Section */

header {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: auto;
  background-color: white;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logo img {
  margin: 5px 20px;
}

.logo span {
  color: mediumaquamarine;
}

nav span {
  display: inline-block;
  margin-right: 40px;
}

a {
  color: black;
}
